$("#ajax-form").html("<div><p>You have submitted the form successfully.</p></div>");
$('#enrollments-table').append("<%= j render partial: '/courses/table_row', locals: {enrollment: @enrollment } %>");
